section.baf-faq-jumbo{
    background-color: $colore_bianco;

    .container-fluid {
        padding: 50px 80px;

        h1 {
            font-weight: bold;
            font-size: 44px;
        }

        p {
            font-size: 19px;
        }

    }

}

section.baf-faq-box {

    .baf-answer {
        display: none;
    }

    p {
        width: 100%;

        i {
            text-align: right;
        }

    }

    .baf-faq-box-left {
        padding: 0 80px;
        background-color: $colore_azzurro;
    }

    .baf-faq-box-right {
        padding: 0 80px;
        background-color: $colore_blu;

        p,i,h2 {
            color: $colore_bianco;
        }

    }

}
