section.baf-faq-jumbo{
    background-color: $colore_bianco;

    .container-fluid {
        padding: 50px 80px;

        h1 {
            font-weight: bold;
            font-size: 44px;
        }

        p {
            font-size: 19px;
        }

    }

}

section.baf-faq-box {
    line-height: 1.5;

    .baf-answer {
        display: none;
    }

    p {
        font-size: 120%;
    }

    h2 {
        margin-top: 40px;
        font-size: 35px;
    }

    h3 {
        width: 100%;
        margin-top: 40px;

        &:last-of-type {
            margin-bottom: 40px;
        }

        i {
            float: right;
        }

    }

    .baf-faq-box-left {
        padding: 0 80px;
        background-color: $colore_azzurro;
    }

    .baf-faq-box-right {
        padding: 0 80px;
        background-color: $colore_blu;

        i,p,h2,h3 {
            color: $colore_bianco;
        }

    }

}
